.navbar-brand {
  margin-left: 2%;
}

.body-main {
  background-color: bisque;
}

.navbar-item {
  margin-right: 2%;
}

.banner{
  background-position: center;
  background-size:cover;
  min-height: 300px;
}

.box-content {
  background-image:url('/static/images/image1 (2).jpg');
}

.main-image {
  height: 500px;
}

.rating {
  width: 80%;
}