a {
  color: darkmagenta!important;
}
.navbar-custom  {
  height: 3.2rem;
}

.body-main {
  background-color: bisque;
}

.banner{
  background-position: center;
  background-size:cover;
  min-height: 300px;
}

.box-content {
  background-image:url('/static/images/image1 (2).jpg');
}

.card1{
  margin: 104%;
}

.rating {
  background-color: rgba(0,0,0,0.4);
}
