.navbar-brand {
  margin-left: 2%;
}

.navbar-item {
  margin-right: 2%;
}

.banner{
  background: url('/static/images/image1 (2).jpg') no-repeat 0px 0px;
  background-position: center;
  background-size:cover;
  min-height: 300px;
}

.box-content {
  background-image:url('/static/images/download.jpeg');
}