{% load static %}
<nav class="navbar-custom navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar bg-dark">
  <div class="container-fluid">
    {% if user.is_authenticated %}
      {% if user.profile.picture.url %}
      <div>
        <a class="navbar-brand" href="{% url 'profile' %}"><img class="rounded cover" src="{{ user.profile.picture.url }}" alt="Profile" style="max-width: 4rem; max-height: 2.8rem;"></a>
        <a href="{% url 'profile' %}">Profile: <h5 style="display: inline;"> {{ user.profile.user.username }}</h5></a>
      </div>
      {% else %}
      <div>
        <a class="navbar-brand" href="{% url 'profile' %}" ><img class="rounded cover" src="{% static 'images/noimage.jpg'%}" alt="picture" style="max-width: 4rem; max-height: 2.8rem;"></a>
        <a href="{% url 'profile' %}">Profile: <h5 style="display: inline;"> {{ user.profile.user.username }}</h5></a>
      </div>
      {% endif %}
      <a href="{% url 'index' %}" class="text-white navbar-brand" style="margin-left: -5%;"><h3>Giggle</h3></a>
      <a href="{% url 'logout' %}" class="navbar-item"><h5>Sign Out</h5></a>
    {% else %}
      <a class="navbar-brand"><img class="rounded cover" src="{% static 'images/noimage.jpg'%}" alt="picture" style="max-width: 5rem; max-height: 2.8rem;"></a>
      <a href="{% url 'index' %}" class="text-white navbar-brand"><h3>Giggle</h3></a>
      <a href="{% url 'login' %}" class="navbar-item"><h5>Sign In</h5></a>
    {% endif %}

  </div>
</nav>